{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col content-wrapper w-2/3 h-4/6 shadow-2xl px-14 rounded-3xl bg-[#e0e0e0]">
        <div class="top-app">
            <p class="text-lg font-bold">Ajouter un contact</p>
        </div>
        <div class="bottom-app">
            <form action="{{ path('update', {id: contact.id}) }}" method="post" enctype="multipart/form-data" class="flex flex-col w-full h-full justify-center items-center">
                <div class="">
                    <div class="">
                        <label for="lname" class="text-lg">Nom</label>
                        <input type="text" name="lname" id="lname" class="w-2/3 h-1/2 rounded border border-black" value="{{ contact.lname }}">
                    </div>
                    <div class="">
                        <label for="fname" class="text-lg">Prénom</label>
                        <input type="text" name="fname" id="fname" class="w-2/3 h-1/2 rounded border border-black" value="{{ contact.fname }}">
                    </div>
                </div>

                <div class="">
                    <div class="">
                        <label for="tel" class="text-lg">Téléphone</label>
                        <input type="text" name="tel" id="tel" class="w-2/3 h-1/2 rounded border border-black" value="{{ contact.tel }}">
                    </div>
                    <div class="">
                        <label for="email" class="text-lg">Email</label>
                        <input type="email" name="email" id="email" class="w-2/3 h-1/2 rounded border border-black" value="{{ contact.mail }}">
                    </div>
                    <div class="">
                        <label for="photo" class="text-lg">Photo</label>
                        <input type="file" id="photo" name="photo" accept="image/png, image/jpeg" value="{{ contact.photo }}">
                    </div>
                    <div class="">
                        <label for="name" class="text-lg">Groupe</label>
                        <select name="idGroup" class="border border-black">
                            <option value="">Choisir un groupe</option>
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.groupName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="bg-[#003366] hover:bg-[#1c5186] text-white rounded px-3 py-0.5 ease-in-out duration-150 hover:scale-110">Ajouter</button>
            </form>
        </div>
        <div>
        {% for field in fieldsList %}
            <label>{{ field.fieldName }}</label>
            <input disabled value="{{ field.fieldContent }}"/>
            <a href="{{ path('app_field_edit', {'id':field.id}) }}">edit</a>
            <a href="{{ path('app_field_delete', {'id':field.id}) }}">delete</a>
        {% endfor %}
        </div>
        <div>
        {{ form(fieldForm) }}
        </div>    
    </div>
{% endblock %}